body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.panel {
  background-color: #807c7c;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Высота вьюпорта */
}

.form-field {
  margin-bottom: 10px;
}

.button {
  font-size: 18px;
  padding: 10px 20px;
}